body {
    background-color: #ff6773;
    font-family: "Asap", sans-serif;
}
.title-screen {
    margin: 2%;
    border-radius: 50px;
    box-shadow: 5px 10px 10px rgba(52, 52, 52, 0.2);
}

.login {
    margin-top: 3%;
    overflow: hidden;
    background-color: #fafafa;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(52, 52, 52, 0.2);
}
.login::before, .login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 40% 45% 40% 35%;
    z-index: -1;
}
.login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
}
.login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(0, 222, 255, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
}
.login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: #f3f3f3;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    box-shadow: 5px 10px 10px rgba(52, 52, 52, 0.2);
}
.grid div div {
    text-align: center;
    font-family: "Asap", sans-serif;
    font-size: 37px;
    background: #fff;
    height: 120px;
    width: 120px;
    border: solid 3px white;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 8px 8px rgba(52, 52, 52, 0.2);
}

.login > .button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    color: #f3f3f3;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f13848;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}
.login > .button:hover {
    background-color: #f24353;
}


.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex;
    justify-content: center;
}

.row4 {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 3%;
    overflow: hidden;
    background-color: rgb(246, 246, 246);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 5px 8px 8px rgba(52, 52, 52, 0.2);
}

.game-screen {
    max-width: 100px;
    max-height: 100px;
    box-shadow: 5px 10px 10px rgba(52, 52, 52, 0.2);
    border-radius: 15px;
    margin-right: 155px;
    margin-bottom: 20px;
}

.id {
    display: flex;
    justify-content: center;
}

.id div {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}